.gsp-ui-kit-slider-box {
  width: 100%;
  position: relative;
  border: red;
  overflow: hidden;

  .sliders {
    width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    .slide {
      width: 100%;
      padding: 20px;
      background-color: rgb(236, 169, 80);
      flex-shrink: 0;
      border: 3px solid green;
    }
  } // sliders

  .slider-nav{
   
    left: 0px;
  }
}
