.gsp-ui-kit-slider {
  overflow: hidden;
  .slide {
    background-color: red;
    margin: 10px;
    img{
      width: 100%;
      z-index: 99;
    }

    .text-content{
      position: absolute;
      left: 50px;
      top: 100px;
      z-index: 100;
    }
  }
}
