@import './parts/module/slider';
@import './parts/module/youtube-player';
@import './parts/module/blog/card-view-blog';
@import './parts/module/login-with-otp/login-with-otp';
@import './parts/module/loading';


.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}