$font-normal-title-size: 16px;

$primary_color: #BE5985;
$primary_opposite_color: #FFEDFA;

$secondary_color: #EC7FA9;
$secondary_opposite_color: #BE5985;

$third_color : #FFB8E0;
$third_opposite_color: #BE5985;

$fourth_color : #FFEDFA;
$fourth_opposite_color: #BE5985;